certifi
cffi
charset-normalizer
cryptography
defusedxml
django-allauth
django-rest-framework
djangorestframework
djongo
dnspython
h11
httpcore
httpx
httpz
idna
oauthlib
Pillow
psycopg2
pycparser
PyJWT
pymongo
python3-openid
pytz
requests
requests-oauthlib
sniffio
sqlparse
urllib3
